h1 {
    color:brown
  }

  img {
    width: 400px;
  }
    
#thirdDiv {
    height: 800px;
    width:500px;
    background-color:blueviolet;
    padding: 50px;
    border: 2px solid black;
    margin: 50px;

  }
#spanId {
    font-size: 18px;
    margin: 50px;
}